service:
  name: awesome-app

# Add the serverless-webpack plugin
plugins:
  - serverless-offline
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs8.10

functions:
  dispatcher:
    handler: handler.dispatcher
    events:
      - http:
          method: post
          path: /events
